@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lexend", "Poppins", sans-serif;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.gradient-subs-email {
  background: rgb(59, 130, 246);
  background: linear-gradient(
    90deg,
    rgba(59, 130, 246, 1) 0%,
    rgba(205, 223, 252, 1) 30%,
    rgba(59, 130, 246, 1) 150%
  );
}

.review-text {
  box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.1);
}

.about-us {
  text-shadow: 1px 5px 10px black;
}

.crew-card {
  /* box-shadow: 0 0 2px black; */
  /* box-shadow: -3px 10px 27px -10px rgba(16, 185, 129, 0.75);
  -webkit-box-shadow: -3px 10px 27px -10px rgba(16, 185, 129, 0.75);
  -moz-box-shadow: -3px 10px 27px -10px rgba(16, 185, 129, 0.75); */
  box-shadow: -3px 10px 27px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 10px 27px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 10px 27px -10px rgba(0, 0, 0, 0.75);
}

.behind-hounter {
  background: rgb(0, 101, 67);
  background: linear-gradient(
    90deg,
    rgba(0, 101, 67, 1) 0%,
    rgba(44, 227, 166, 1) 65%,
    rgba(0, 168, 113, 1) 150%
  );
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #10b981;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #047857;
}

::-webkit-scrollbar-track {
  background: #d1fae5;
}
